/* Footer */
footer{
    grid-area: footer;
    background-color: #BA8B76;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}
.imgLogo{
    height: 70px;
    width: 70px;
}