*{
    margin:0;
    padding:0;
    box-sizing: border-box;
} /* Grid*/
.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 70px 3fr 3fr 70px;
    grid-template-areas: 
    "header header header"
    "main main main"
    "main main main"
    "footer footer footer";
    }
